@use "../../../node_modules/bootstrap/scss/bootstrap.scss";
@use "../scss/partials/variables.scss" as *;

//Utilities
.negative_ms_2 {
    margin-left: -2rem;
}

.bg_logo_color {
    background-color: $logo_color;
}

img {
    max-width: 100%;
    max-height: 100%;
}

body {
    background-color: $dark;
}

#appHeader {
    height: 100px;
    background: $darker;

    .logo {
        height: 80px;
    }
}

.item {

    .text {
        background-color: $darker;
    }

    
}

.flag {
    img {
        width: 40px;
        aspect-ratio: 1;
    }
}