@use "../../../node_modules/bootstrap/scss/bootstrap.scss";
@use "../scss/partials/variables.scss" as *;

//Utilities
.negative_ms_2 {
    margin-left: -2rem;
}

.bg_logo_color {
    background-color: $logo_color;
}

.fs_9 {
    font-size: 9px;
}

.mw_7 {
    max-width: 70%
}

img {
    max-width: 100%;
    max-height: 100%;
}

body {
    background-color: $dark;
}

#appHeader {
    height: 215px;
    background: $darker;

    .logo {
        height: 80px;
    }
}

.item {

    max-height: 300px;

    .text {
        background-color: $darker;

    }
}

;

#overview,
.genre {
    max-height: 80px;
    overflow-y: scroll;
    font-size: 12px;
}

.flag {
    img {
        width: 40px;
        aspect-ratio: 1;
    }
}